@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 217 76% 12%;
    --foreground: 210 40% 98%;
    --card: 220 40% 15%;
    --card-foreground: 210 40% 98%;
    --popover: 220 40% 15%;
    --popover-foreground: 210 40% 98%;
    --primary: 182 100% 74%;
    --primary-foreground: 217 76% 12%;
    --secondary: 217 30% 25%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 30% 20%;
    --muted-foreground: 215 20% 65%;
    --accent: 276 92% 80%;
    --accent-foreground: 217 76% 12%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 30% 25%;
    --input: 217 30% 25%;
    --ring: 182 100% 74%;
    --chart-1: 182 100% 74%;
    --chart-2: 276 92% 80%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 217 76% 12%;
    --foreground: 210 40% 98%;
    --card: 220 40% 15%;
    --card-foreground: 210 40% 98%;
    --popover: 220 40% 15%;
    --popover-foreground: 210 40% 98%;
    --primary: 182 100% 74%;
    --primary-foreground: 217 76% 12%;
    --secondary: 217 30% 25%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 30% 20%;
    --muted-foreground: 215 20% 65%;
    --accent: 276 92% 80%;
    --accent-foreground: 217 76% 12%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 30% 25%;
    --input: 217 30% 25%;
    --ring: 182 100% 74%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    scroll-behavior: smooth;
  }
}

.bg-grid-primary\/10 {
    background-image: linear-gradient(hsl(var(--primary)) 1px, transparent 1px), linear-gradient(to right, hsl(var(--primary)) 1px, hsl(var(--background)) 1px);
    background-size: 40px 40px;
    background-color: hsl(var(--background));
    opacity: 0.1;
    position: absolute;
    inset: 0;
    z-index: -1;
}
